body {
  background-image: url('../images/about-8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header, .nav_links {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.8),
    hsla(0, 0%, 0%, 0.7),
    hsla(0, 0%, 0%, 0.3)
  );
}

.main {
  padding: 10px;
  background-color: hsla(0, 0%, 0%, 0.3);
}

hr {
  width: 100%;
  margin-top: 5px;
}

.menu_header {
  width: 100%;
  user-select: none;
}
.menu_categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
}
.category_title {
  margin-right: 10px;
}
.menu_section {
  width: 100%;
  padding: 10px;
  flex-grow: 1;
}
.menu_section h2 {
  width: fit-content;
  margin: 10px auto;
  user-select: none;
  border-bottom: 1px solid white;
}
.category_items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.item {
  height: 65px;
  background: white;
  border-radius: 5px;
}

.main,
.menu_section h2 {
  font-size: 20px;
  font-family: 'Univers Next', 'Times New Roman', Times, serif;
}

/* Tablets or bigger phones. */
@media only screen and (min-width: 450px) {
  .main {
    padding: 20px;
  }
  .main,
  .menu_section h2 {
    font-size: 21px;
  }
  .category {
    margin-right: 15px;
  }
}

/* Desktop */
@media only screen and (min-width: 900px) {
  .main {
    padding: 30px;
  }
  .main,
  .menu_section h2 {
    font-size: 24px;
  }
  .category {
    margin-right: 20px;
  }
}
