body {
  background-image: url('../images/about-8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header,
.nav_links {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.8),
    hsla(0, 0%, 0%, 0.7),
    hsla(0, 0%, 0%, 0.3)
  );
}

.main {
  /* To override the height property in global.css. */
  height: auto;
  min-height: calc(100vh - 100px);
  padding: 10px;
  display: block;
  background-color: hsla(0, 0%, 0%, 0.3);
}
.main,
.menu_section h2 {
  font-size: 20px;
  font-family: 'Univers Next', 'Times New Roman', Times, serif;
}

.category_nav_hr {
  width: 100%;
  margin-top: 5px;
}

.menu_header {
  width: 100%;
  user-select: none;
}
.menu_categories {
  display: flex;
  justify-content: space-between;
  user-select: none;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.menu_section {
  width: 100%;
  padding: 10px;
  flex-grow: 1;
}
.menu_section h2 {
  width: fit-content;
  margin: 10px auto;
  user-select: none;
  border-bottom: 1px solid white;
}
.category_items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.item {
  padding: 5px;
  min-height: 65px;
  background: white;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.item_header {
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.item_name {
  width: fit-content;
}
.svgs {
  margin-left: 5px;
}
.svg {
  margin: auto 0;
  height: 16px;
}
.price {
  justify-self: flex-end;
}
.item_body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
}
.quantity_prices {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 5px;
}

/* Tablets or bigger phones. */
@media only screen and (min-width: 450px) {
  .main {
    padding: 20px;
  }
  .main,
  .menu_section h2 {
    font-size: 21px;
  }
  .category_title {
    margin-right: 15px;
  }
  .item_body {
    font-size: 18px;
  }
}

/* 1fr category items seem too wide after this point. */
@media only screen and (min-width: 600px) {
  .category_items {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  }
}

/* Desktop */
@media only screen and (min-width: 900px) {
  .main {
    padding: 30px;
  }
  .main,
  .menu_section h2 {
    font-size: 22px;
  }
  .category_title {
    margin-right: 20px;
  }
  .item_body {
    font-size: 19px;
  }
}
