body {
  background-image: url('../images/about-8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Sections */
.header,
.nav_links {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.8),
    hsla(0, 0%, 0%, 0.7),
    hsla(0, 0%, 0%, 0.3)
  );
}

.main {
  /* To override the height property in global.css. */
  height: calc(100vh - 100px);
  padding: 10px;
  display: block;
  background-color: hsla(0, 0%, 0%, 0.3);
  overflow-y: scroll;
}
.main,
.menu_section h2 {
  font-size: 20px;
  font-family: 'Univers Next', 'Times New Roman', Times, serif;
}

.category_nav_hr {
  margin-top: 5px;
}

.menu_header {
  width: 100%;
  user-select: none;
}
.menu_categories {
  display: flex;
  justify-content: space-between;
  user-select: none;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.menu_section {
  width: 100%;
  padding: 10px;
  flex-grow: 1;
}

/* Components */
.menu_section h2 {
  width: fit-content;
  margin: 10px auto;
  user-select: none;
  border-bottom: 1px solid white;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category_items {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.item {
  padding: 5px;
  min-height: 65px;
  background: white;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.item_header {
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.item_name {
  width: fit-content;
}
.admin_button {
  cursor: pointer;
}
.admin_buttons {
  text-align: right;
  margin-left: auto;
}
.admin_svg {
  cursor: pointer;
}
.svg {
  margin: auto 0;
  height: 16px;
}
.price {
  justify-self: flex-end;
  color: green;
}
.item_body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 17px;
}
.quantity_prices {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  column-gap: 5px;
}
.quantity_price {
  border-bottom: 1px solid black;
  text-align: end;
}
.add_item_button {
  margin: 10px 0;
  padding: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.emoji {
  font-size: 0.9em;
}

/* Edit Item Form */
.item_form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
  background: hsla(0, 0%, 0%, 0.8);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 7;
}

.price_fieldset,
.quantity_prices_fieldset {
  border: 1px solid white;
}

.item_form button {
  padding: 5px;
  margin: 5px 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.form_input {
  margin-top: 5px;
  width: 100%;
}
.price_fieldset > * {
  margin: 10px 0;
}
label:has(> .price_option) {
  margin-right: 20px;
  user-select: none;
  cursor: pointer;
}
.price_option {
  cursor: pointer;
}
.quantity_prices_fieldset > * {
  border: none;
}
.quantity_prices_fieldset input {
  width: 100%;
}
.quantity_price_pair label {
  display: flex;
  flex-direction: row;
}
.quantity_price_pair input {
  margin-left: 10px;
}
.temperature_fieldset {
  user-select: none;
  margin: 0 auto;
  border: 1px solid white;
  width: fit-content;
}
.temperature_fieldset .svg {
  margin: 0 10px;
}
.temperature_fieldset label {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.temperature_fieldset input {
  margin-left: auto;
  width: fit-content;
}

/* Tablets or bigger phones. */
@media only screen and (min-width: 450px) {
  .main {
    padding: 20px;
  }
  .main,
  .menu_section h2 {
    font-size: 21px;
  }
  .category_title {
    margin-right: 15px;
  }
  .item_body {
    font-size: 18px;
  }
}

/* 1fr category items seem too wide after 600px. */
@media only screen and (min-width: 600px) {
  .category_items {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  }

  .item_form {
    font-size: 22px;
  }
}

/* Desktop */
@media only screen and (min-width: 900px) {
  .main {
    padding: 30px;
  }
  .main,
  .menu_section h2 {
    font-size: 22px;
  }
  .category_title {
    margin-right: 20px;
  }
  .item_body {
    font-size: 19px;
  }

  .item_form {
    font-size: 24px;
  }
}
