* {
    margin: 0;
    padding: 0;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-color: #8c6338;
    background-position: center;
    background-size: cover;
    position: relative;
}
#logo {
    display: inline-block;
    margin-left: 54vh;
    margin-right: 54vh;
    padding-top: 0.25cm;
    height: 15cm;
    width: auto; /* correct proportions to specified height */
    border-radius: 50%; /* makes it a circle */
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    align-items: center;
}
.nav-links {
    flex: 1;
    text-align: center;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 60px;
}
.nav-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.65cm;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    margin: auto;
    display: block;
    transform: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    cursor: pointer;
}
.welcome_message {
    /**  font-family: 'Pacifico', cursive; **/
    font-family: 'Caveat', cursive;
    color: black;
    font-size: 1.0cm;
}
.intro_text {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    position: absolute;
    padding-top: 10cm;
    text-align: center;
}
.hero-btn {
    margin-top: 0.5cm;
    text-decoration: none;
    display: inline-block;
    color: black;
    border: 3px solid black;
    font-size: 0.5cm;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding: 3px 21px;
    background: transparent;
    transition: 0.5s;
    text-align:center;
}
.hero-btn:hover {
    color: whitesmoke;
    border: 3px solid whitesmoke;
}