* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  min-height: 100vh;
}
body {
  background: linear-gradient(
      180deg,
      hsl(0, 0%, 100%, 0.3),
      hsla(0, 0%, 100%, 0)
    ),
    url('./background.jpg') bottom no-repeat;
  background-size: cover;
  user-select: none;
  font-family: 'Caveat', cursive;
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}

.home_header {
  width: 100%;
  height: 100px;
  display: flex;
}
.home_header > * {
  height: 100%;
}
.home_header > div {
  flex: 1;
}
.logo {
  height: 100%;
}
.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  height: fit-content;
  font-size: 40px;
}
.nav_links {
  height: 100%;
  font-size: 25px;
}
.nav_links > ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_links > ul > li {
  height: 75px;
  margin: 32px 10px 0 10px;
  transition: 0.5s;
}
.nav_links > ul > li:hover {
  margin-bottom: 10px;
}
.nav_links li:has(svg) {
  height: 25px;
}
.logos {
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos > p {
  height: 25px;
}
.logo_list {
  width: 25px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.logo_list li {
  transition: 0.5s;
}
.logo_list a {
  height: 25px;
}
.logos:hover .logo_list {
  opacity: 1;
  pointer-events: all;
}
.logos:hover .logo_list li {
  margin-top: 3px;
}
/* In case I need to KEEP logo_list's opacity WHILE no longer hovering li.logos. */
/* .logo_list:hover {
  opacity: 1;
  pointer-events: all;
}
.logo_list:hover li {
  margin-top: 3px;
} */

.home_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
.welcome_message {
  margin-top: 60px;
  color: whitesmoke;
}
.menu {
  margin-top: 30px;
  padding: 3px 21px;
  color: whitesmoke;
  border: 3px solid whitesmoke;
  border-radius: 5px;
  font-size: 30px;
  background: transparent;
  transition: 0.5s;
  text-align: center;
}
.menu:hover {
  color: black;
  border: 3px solid black;
}
