<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../public/global.css" />
    <link rel="stylesheet" type="text/css" href="../public/contact.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2MiJkZRJUnDPz826z-aGMlIkUOYDQClc&callback=initMap&v=weekly"
      async
    ></script>
    <script type="module" src="./contact.js"></script>
    <title>Xin Chao Contact</title>
  </head>
  <body>
    <main class="contact">
      <h1>Contact</h1>
      <div class="email_wrapper">
        <p>Email:&nbsp;</p>
        <a class="email" href="mailto:xinchaocoffee2021@gmail.com"
          >xinchaocoffee2021@gmail.com</a
        >
      </div>
      <div class="phone_number_wrapper">
        <p>Phone:&nbsp;</p>
        <a class="phone_number" href="tel:403-590-9999">+1 (403) 590-9999</a>
      </div>
      <div class="address_wrapper">
        <p>Find us at: 2255 32 St NE Unit 3110, Calgary, AB T1Y 6E8</p>
        <div id="map" class="map"></div>
      </div>
    </main>
  </body>
</html>
