/* Page globals */
body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* Sections */
.main {
  font-size: 22px;
  padding: 0 50px;
  align-items: flex-end;
  justify-content: center;
}

/* Components */
.intro_text {
  border-radius: 50px;
  background: hsla(0, 0%, 0%, 0.5);
  padding: 30px;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
  scrollbar-width: 10px;
}
.intro_text::-webkit-scrollbar {
  display: initial;
  width: 5px;
}
.intro_text::-webkit-scrollbar-track {
  background: transparent;
}
.intro_text::-webkit-scrollbar-button {
  background: transparent;
}
.intro_text::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Tablets */
@media only screen and (min-width: 600px) {
  /* Components */
  .intro_text {
    width: 80%;
  }
}

/* Desktop */
@media only screen and (min-width: 900px) {
  /* Sections */
  .main {
    padding: 0 30px;
  }

  /* Components */
  .intro_text {
    width: 60%;
  }
}

/* Animations */
@keyframes rotate {
  0% {
    margin-right: 0;
  }
  50% {
    margin-right: 100%;
  }
  100% {
    margin-right: 0;
  }
}
