/* Page globals */
body {
  background-image: url('./images/store.jpg');
  background-size: cover;
}

/* Sections */
.main {
  margin-top: 30px;
  display: block;
  font-size: 22px;
  padding: 0 50px;
}

/* Desktop */
@media only screen and (min-width: 900px) {
  .main {
    padding: 0 100px;
  }
}