* {
  font-family: sans-serif;
}

body {
  background-color: black;
}
.contact {
  font-size: 0.3cm;
  text-align: left;
}

/* Components */
.email_wrapper, .phone_number_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
