/* Page globals */
body {
  background-image: url('./images/store.jpg');
  background-size: cover;
}

/* Sections */
.main {
  display: block;
  font-size: 22px;
  padding: 0 50px;
}

/* Components */
.contact_title {
  margin-bottom: 30px;
}
.email_wrapper,
.phone_number_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.map {
  margin: 50px 0;
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

@media only screen and (min-width: 900px) {
  .main {
    padding: 0 100px;
  }
}