/* Global variables */
:root {
  --store_hours_width: 250px;
}

/* Typography */
@font-face {
  font-family: 'RosmatikaRegular';
  src: url(../typography/rosmatika-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'P22 Marcel Caps';
  src: url(../typography/marcel-caps.ttf);
}
@font-face {
  font-family: 'Univers Next';
  src: url(../typography/univers-next-pro-light.ttf);
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  min-height: 100vh;
}
body,
.background_image {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body {
  color: white;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 100% 250px;
  grid-template-rows: 100px calc(100vh - 100px);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-weight: 50;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
.link {
  color: hsl(200, 100%, 50%);
  text-decoration: underline;
}
path {
  fill: white;
}
.over {
  z-index: 3;
}
.gradient_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.2);
  animation: lighten 0.5s forwards;
}
.gradient_container.dark {
  animation: darken 0.5s forwards;
}
.background_image {
  position: fixed;
  width: 100%;
  height: 100%;
}
.opaque {
  animation: fade_in 0.3s forwards;
}
.background_image:not(.opaque) {
  animation: fade_out 0.3s forwards;
}
.no_display {
  display: none;
}

/* Sections */
.header {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.8),
    hsla(0, 0%, 0%, 0.7),
    hsla(0, 0%, 0%, 0.2)
  );
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.header > * {
  height: 100%;
  flex: 1;
}
.logo_section {
  display: flex;
  justify-content: flex-start;
}
.title_section {
  display: flex;
  flex-grow: 2; /* Twice the rate of other flex siblings. */
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'P22 Marcel Caps', sans-serif;
}

.main {
  z-index: 1;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* Components */
.logo {
  height: 100%;
}
.title {
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 50;
  font-size: 50px;
  line-height: 40px;
}
.title_coffee {
  margin-top: 12px;
  font-size: 20px;
  font-weight: lighter;
}

.nav_section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.bars {
  padding: 10px;
  height: 55%;
  margin-right: 30px;
  cursor: pointer;
}
.nav_links {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.8),
    hsla(0, 0%, 0%, 0.7),
    hsla(0, 0%, 0%, 0.2)
  );
  z-index: 4;
  grid-area: 1 / 2 / span 2 / span 1;
  height: 100%;
  width: 120px;
  background: hsla(0, 0%, 0%, 0.8);
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.nav_links.show {
  animation: nav_in 0.5s forwards;
}
.nav_links:not(.show) {
  animation: nav_out 0.5s forwards;
}
.nav_links_ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav_links_ul > li {
  margin: 0 10px;
  transition: 0.5s;
}
.nav_links li:has(svg) {
  height: 25px;
}
.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo_list {
  width: 25px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
.logo_list li {
  transition: 0.5s;
  margin: 5px 0;
}
.logo_list a {
  height: 25px;
}
.hours_snippet {
  cursor: pointer;
  position: sticky;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  padding: 15px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: hsla(0, 0%, 0%, 0.6);
  border-radius: 10px;
}
.open_text {
  text-decoration: underline;
  color: blueviolet;
  font-display: flex;
}
.snippet_svg {
  margin: 5px;
  width: 24px;
  height: 24px;
}
.snippet_circle {
  cx: 12;
  cy: 12;
  fill: white;
  animation: pulse 4s ease-in-out infinite;
}
.snippet_circle.open {
  fill: springgreen;
}
.snippet_circle.closed {
  fill: crimson;
}
.store_hours {
  z-index: 4;
  grid-area: 1 / 2 / span 2 / span 1;
  background: hsla(0, 0%, 0%, 0.6);
  padding: 30px;
}
.store_hours.show {
  animation: store_hours_in 0.5s forwards;
}
.store_hours.hide {
  animation: store_hours_out 0.5s forwards;
}

/***Phone***/

@media only screen and (max-width: 460px) {
  .title {
    font-size: 30px;
    margin-top: 15px;
    font-display: flex;
  }
  .title_coffee {
    margin-top: 5px;
    font-size: 11px;
  }
  .hours_snippet {
    position: sticky;
    font-size: 25px;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    padding: 15px;
    height: 60px;
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: hsla(0, 0%, 0%, 0.6);
    border-radius: 10px;
  }
}

/***Desktop***/
@media only screen and (min-width: 900px) {
  body {
    grid-template-rows: 100px calc(100% - 100px);
    grid-template-columns: 67% 33% 250px;
  }

  .nav_section {
    display: none;
  }

  .nav_links {
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.8),
      hsla(0, 0%, 0%, 0.7),
      hsla(0, 0%, 0%, 0.2)
    );
    grid-area: 1 / 2;
    height: 100px;
    width: 100%;
  }

  .nav_links_ul {
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav_links_ul > li {
    margin: 50px 10px;
  }

  .nav_links_ul > li:hover,
  .nav_links_ul > li:focus-within {
    margin-top: 45px;
  }

  .logo_list {
    position: absolute;
    top: 55%;
    opacity: 0;
  }

  .logo_list li {
    margin: 0;
  }

  .logos:hover .logo_list,
  .logos:focus-within .logo_list {
    opacity: 1;
    pointer-events: all;
  }
  .logos:hover .logo_list li,
  .logos:focus-within .logo_list li {
    margin-top: 3px;
  }

  .main {
    grid-area: 2 / 1 / span 1 / span 2;
  }

  .store_hours {
    grid-area: 1 / 3 / span 2 / span 1;
  }
}

/* Animations */
@keyframes nav_in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120px);
  }
}
@keyframes nav_out {
  from {
    transform: translateX(-120px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes store_hours_in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-250px);
  }
}
@keyframes store_hours_out {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes darken {
  from {
    background: hsla(0, 0%, 0%, 0.3);
  }
  to {
    background: hsla(0, 0%, 0%, 0.5);
  }
}
@keyframes lighten {
  from {
    background: hsla(0, 0%, 0%, 0.5);
  }
  to {
    background: hsla(0, 0%, 0%, 0.3);
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    r: 10;
  }
  50% {
    r: 12;
  }
  100% {
    r: 10;
  }
}
