/* Typography */
@font-face {
  font-family: 'RosmatikaRegular';
  src: url(../typography/rosmatika-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'P22 Marcel Caps';
  src: url(../typography/marcel-caps.ttf);
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body {
  color: white;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 100% 120px;
  grid-template-rows: 100px calc(100% - 100px);
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 50;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
path {
  fill: white;
}
.over {
  z-index: 2;
}
.gradient_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.2);
  animation: lighten 0.5s forwards;
}
.gradient_container.dark {
  animation: darken 0.5s forwards;
}

/* Sections */
.header {
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  user-select: none;
}

.header > * {
  height: 100%;
  flex: 1;
}
.logo_section {
  display: flex;
  justify-content: flex-start;
}
.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'P22 Marcel Caps', sans-serif;
}

.main {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

/* Components */
.logo {
  height: 100%;
}
.title {
  height: fit-content;
  font-weight: 50;
  font-size: 50px;
}
.title_coffee {
  font-size: 20px;
  font-weight: lighter;
}
.nav_section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.bars {
  padding: 10px;
  height: 55%;
  margin-right: 30px;
  cursor: pointer;
}

.nav_links {
  z-index: 3;
  grid-area: 1 / 2 / span 2 / span 1;
  height: 100%;
  width: 120px;
  background: hsla(0, 0%, 0%, 0.8);
  font-size: 20px;
  user-select: none;
}
.nav_links.show {
  animation: nav_in 0.5s forwards;
}
.nav_links:not(.show) {
  animation: nav_out 0.5s forwards;
}

.nav_links_ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nav_links_ul > li {
  height: 75px;
  margin: 50px 10px 0 10px;
  transition: 0.5s;
}
.nav_links li:has(svg) {
  height: 25px;
}
.logos {
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos > p {
  height: 25px;
}
.logo_list {
  width: 25px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
.logo_list li {
  transition: 0.5s;
  margin: 5px 0;
}
.logo_list a {
  height: 25px;
}

/***Desktop***/
@media only screen and (min-width: 900px) {
  body {
    grid-template-rows: 100px calc(100% - 100px);
    grid-template-columns: 2fr 1fr;
  }

  .nav_section {
    display: none;
  }

  .nav_links {
    grid-area: 1 / 2;
    height: 100px;
    width: 100%;
    background: hsla(0, 0%, 0%, 0);
  }

  .nav_links_ul {
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav_links_ul > li:hover,
  .nav_links_ul > li:focus-within {
    margin-bottom: 10px;
  }

  .logo_list {
    opacity: 0;
  }

  .logo_list li {
    margin: 0;
  }

  .logos:hover .logo_list,
  .logos:focus-within .logo_list {
    opacity: 1;
    pointer-events: all;
  }
  .logos:hover .logo_list li,
  .logos:focus-within .logo_list li {
    margin-top: 3px;
  }

  .main {
    grid-area: 2 / 1 / span 1 / span 2;
  }
}

/* Animations */
@keyframes nav_in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120px);
  }
}
@keyframes nav_out {
  from {
    transform: translateX(-120px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes darken {
  from {
    background: hsla(0, 0%, 0%, 0.3);
  }
  to {
    background: hsla(0, 0%, 0%, 0.5);
  }
}
@keyframes lighten {
  from {
    background: hsla(0, 0%, 0%, 0.5);
  }
  to {
    background: hsla(0, 0%, 0%, 0.3);
  }
}
