/* Layout */
body {
  background-image: url('./images/coffee.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}

.menu {
  padding: 3px 21px;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 20px;
  background: transparent;
  transition: 0.5s;
}

/***Desktop***/
@media only screen and (min-width: 900px) {
  .menu:hover, .menu:focus {
    margin-bottom: 10px;
  }
}

