.login_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  padding: 50px 20px;
  width: 80%;
  height: 80%;
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0 .8),
    hsla(0, 0%, 0%, 0.7),
    hsla(0, 0%, 0%, 0.2)
  );
  border-radius: 5px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login_form label,
.login_form input {
  max-width: 100%;
}

.login_button {
  width: fit-content;
  padding: 5px;
  align-self: center;
  color: white;
  background: transparent;
  border: 3px solid white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

/* Tablets */
@media only screen and (min-width: 600px) {
  .login_form {
    width: 60%;
  }
}

/***Desktop***/
@media only screen and (min-width: 900px) {
  .login_form {
    width: 40%;
  }
}
